{% extends 'ex01/base.html' %}
{% load static %}
{% block title %}Ex01: Django, framework web{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'style1.css' %}">{% endblock %}
{% block content %}
    <section class="category-history-item intro" id="smooth_history">
        <h2>Introduction to Django Python Framework</h2>
        <p> Django is the most popular Python Framework out there. It is open-source and free to use. It also follows Model-View-Controller (MVC) architecture which is now the defacto architecture utilized in the development of web apps. Django shines in its non-modular architecture. It can help the easy development of database-drive websites which are complex in nature. Moreover, it is ready for reusability, and pluggable environment can enable developers to do rapid development. It also follows the DRY philosophy, enabling minimal code to be written, saving time. Just like any other web framework it offers basic CRUD operation and a simple to use admin panel for easy administration. </p>
        <p> The whole philosophy behind Django is rapid development and making complex projects work for the developer. </p>
        <div class="devider">
            <span class="icon">
                <span class="icon-close-tag"></span>
            </span>
        </div>
    </section>
    <section class="category-history-item history">
        <h2>Django History</h2>
        <p> Django was created in the year 2003 by Adrian Holovaty and Simon Willison when they started using Python to develop a web application. They were working in Lawrence Journal-World newspaper and clearly had a good idea of what they were trying to achieve. </p>
        <p> It was released in July 2005 under the BSD license and was named after the guitarist Django Reinhardt. In the year 2008, a foundation named Django Software Foundation (DSF) was established to maintain Django. </p>
        <div class="devider"> <span class="icon"><span class="icon-close-tag"></span></span> </div>
    </section>
{% endblock %}